$xl: 1920px;
$lg: 1440px;
$md: 1280px;
$sm: 768px;
$xs: 480px;
$xxs: 320px;

@media (max-width: $xxs) {

}

@media (min-width: $xxs) {

}

@media (min-width: $xs) {

}

@media (min-width: $sm) {

}

@media (min-width: $md) {

}

@media (min-width: $lg) {

}

@media (min-width: $xl) {

}