.chart {
  overflow: hidden;
  &__stage {
    display: block;
    background: white;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  @media (max-width: $sm) {
    overflow-x: auto;
    transform: translateX(-2rem);
    width: 100vw;
    padding: unset;
    &__stage {
      //width: var(--some_width);
      width: 150vw;
      height: 75vh;
    }
  }
}